{% extends 'product/base.html' %} {% block content %}

<div class="testbox">

    <div class="colums">

        {% for object in obj %}

        <div class="prodContainer">
            <h2 style="text-align:center"></h2>

            <div class="card">
                <form method="POST" action="{{ object.id }}/"> {% csrf_token %}
                    <button>
                                <img src="{{ object.picLink }}" alt="{{ object.name }}" style="width:100%">
                                <h2>{{ object.name }}</h2>
                                <p class="price">${{ object.price }}</p>
                                <p style="color: white;">{{ object.description }}</p>
                            </button>
                </form>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock content %}